._gifthis_button {
  width: 100px;
  height: 30px;
  background: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 30px;
  text-align: center;
  font-family: courier, serif;
  margin-left: 1px;
  position: absolute;
  z-index: 1000;
  padding-left: 2px;
}

._gifthis_button p {
  background: black;
  padding: 0px;
  margin: 0px;
}

._gifthis_minimize {
  float: right;
  display: block;
  font-size: 10px;
  color: white;
  line-height: 10px;
}

._gifthis_button:hover {
  cursor: pointer;
}

._gifthis_loader {
  background-image: url('ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
}